## **Dataset**

Dataset

In [1]:
import json
import codecs

data=json.load(codecs.open('dt.json', 'r', 'utf-8-sig'))

# **Add new items to inventory**

In [4]:
id = int(input("Enter product id:"))
if id<=30:
  id=int(input('enter id greater thann 30'))
else:
  pass
gender = str(input("Enter your gender:"))
if gender !='male' and gender !='female':
  gender=str(input('enter male or female'))
else:
  pass
price = int(input("Enter price:"))
quantity = int(input("Enter quantity:"))
product_type = str(input("Enter product type:"))
rating = int(input("Give rating to product:"))
if rating > 10:
  rating=int(input('enter rating between 1 to 10'))
else:
  pass
data[id] = {'gender': gender, 'price': price, 'quantity': quantity,'product':product_type,'rating':rating}

js = json.dumps(data)

fd = open("dt.json",'w')
fd.write(js)
fd.close()

Enter product id:3
enter id greater thann 3031
Enter your gender:male
Enter price:45
Enter quantity:4
Enter product type:beauty
Give rating to product:5

In [8]:
data

{'1': {'gender': 'female',
  'price': 75,
  'product': 'health',
  'quantity': 7,
  'rating': 9},
 '10': {'gender': 'male',
  'price': 34,
  'product': 'beuaty',
  'quantity': 4,
  'rating': 6},
 '11': {'gender': 'female',
  'price': 22,
  'product': 'health',
  'quantity': 3,
  'rating': 7},
 '12': {'gender': 'female',
  'price': 33,
  'product': 'health',
  'quantity': 10,
  'rating': 7},
 '13': {'gender': 'female',
  'price': 38,
  'product': 'electronic',
  'quantity': 12,
  'rating': 7},
 '14': {'gender': 'male',
  'price': 46,
  'product': 'beuaty',
  'quantity': 11,
  'rating': 8},
 '15': {'gender': 'female',
  'price': 69,
  'product': 'electronic',
  'quantity': 6,
  'rating': 8},
 '16': {'gender': 'female',
  'price': 79,
  'product': 'health',
  'quantity': 9,
  'rating': 9},
 '17': {'gender': 'female',
  'price': 89,
  'product': 'beuaty',
  'quantity': 4,
  'rating': 9},
 '18': {'gender': 'male',
  'price': 22,
  'product': 'health',
  'quantity': 50,
  'rating': 9},
 '19': {'gender': 'female',
  'price': 29,
  'product': 'food',
  'quantity': 10,
  'rating': 7},
 '2': {'gender': 'female',
  'price': 99,
  'product': 'electronic',
  'quantity': 5,
  'rating': 10},
 '20': {'gender': 'male',
  'price': 19,
  'product': 'beuaty',
  'quantity': 2,
  'rating': 5},
 '21': {'gender': 'female',
  'price': 45,
  'product': 'health',
  'quantity': 7,
  'rating': 9},
 '22': {'gender': 'male',
  'price': 67,
  'product': 'food',
  'quantity': 15,
  'rating': 7},
 '23': {'gender': 'female',
  'price': 89,
  'product': 'beuaty',
  'quantity': 8,
  'rating': 7},
 '24': {'gender': 'female',
  'price': 79,
  'product': 'beuaty',
  'quantity': 1,
  'rating': 7},
 '25': {'gender': 'female',
  'price': 69,
  'product': 'electronic',
  'quantity': 3,
  'rating': 8},
 '26': {'gender': 'male',
  'price': 98,
  'product': 'food',
  'quantity': 4,
  'rating': 8},
 '27': {'gender': 'male',
  'price': 99,
  'product': 'beuaty',
  'quantity': 4,
  'rating': 8},
 '28': {'gender': 'male',
  'price': 96,
  'product': 'electronic',
  'quantity': 7,
  'rating': 8},
 '29': {'gender': 'male',
  'price': 94,
  'product': 'health',
  'quantity': 8,
  'rating': 8},
 '3': {'gender': 'male',
  'price': 55,
  'product': 'beuaty',
  'quantity': 4,
  'rating': 7},
 '30': {'gender': 'female',
  'price': 79,
  'product': 'food',
  'quantity': 6,
  'rating': 10},
 31: {'gender': 'male',
  'price': 45,
  'product': 'beauty',
  'quantity': 4,
  'rating': 5},
 '4': {'gender': 'male',
  'price': 96,
  'product': 'health',
  'quantity': 3,
  'rating': 8},
 '5': {'gender': 'female',
  'price': 79,
  'product': 'electronic',
  'quantity': 7,
  'rating': 10},
 '6': {'gender': 'female',
  'price': 89,
  'product': 'beuaty',
  'quantity': 22,
  'rating': 10},
 '7': {'gender': 'male',
  'price': 98,
  'product': 'food',
  'quantity': 15,
  'rating': 4},
 '8': {'gender': 'female',
  'price': 44,
  'product': 'electronic',
  'quantity': 11,
  'rating': 5},
 '9': {'gender': 'female',
  'price': 56,
  'product': 'food',
  'quantity': 8,
  'rating': 5}}

# Purchasing products from inventory

In [6]:
buy_id  = str(input("Enter the product_Id: "))
buy_quant = int(input("Enter the quantity: "))


print("Product: ", data[buy_id]['product'])
print("Price: ", data[buy_id]['price'])
print("Billing Amount: ", data[buy_id]['price'] * buy_quant)

data[buy_id]['quantity'] = data[buy_id]['quantity'] - buy_quant

js = json.dumps(data)

fd = open("dt.json",'w')
fd.write(js)
fd.close()

Enter the product_Id: 4
Enter the quantity: 3
Product:  health
Price:  96
Billing Amount:  288

In [9]:
print(data[buy_id])

{'gender': 'male', 'price': 96, 'quantity': 3, 'product': 'health', 'rating': 8}